{% url 'pages:home' as home_url %}
{% url 'pages:about' as about_url %}
{% url 'pages:contact' as contact_url %}
{% url 'accounts:login' as login_url %}
{% url 'accounts:profile' as profile_url %}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="inner-heading">
                    <ul class="breadcrumb">
                        <li><a href="{% url 'pages:home' %}">Home</a> <i class="icon-angle-right"></i></li>
                        {% if request.path == about_url %}
                            <li class="active">About</li>
                        {% elif request.path == contact_url %}
                            <li class="active">Contact</li>
                        {% elif request.path == login_url %}
                            <li><a href="#">Accounts</a> <i class="icon-angle-right"></i></li>
                            <li class="active">Login</li>
                        {% elif request.path == profile_url %}
                            <li><a href="#">Accounts</a> <i class="icon-angle-right"></i></li>
                            <li class="active">Profile</li>
                        {% endif %}
                    </ul>
                        {% if request.path == about_url %}
                            <h2>About us</h2>
                        {% elif request.path == contact_url %}
                            <h2>Get in touch</h2>
                        {% elif request.path == login_url %}profile_url
                            <h2>Login</h2>
                        {% elif request.path == profile_url %}
                            <h2>{{ user.username | capfirst }}'s profile</h2>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>