{% url 'pages:home' as home_url %}
{% url 'pages:about' as about_url %}
{% url 'pages:contact' as contact_url %}
{% url 'accounts:login' as login_url %}
{% url 'accounts:profile' as profile_url %}
{% url 'accounts:profile' as profile_url %}
{% url 'blog' as blog_url %}
<nav>
    <ul class="nav topnav">
        <li class="{% if request.path == home_url %} active {% endif %}">
            <a href="{{ home_url }}"><i class="icon-home"></i> Home </a>
        </li>
        <li class="{% if request.path == about_url %} active {% endif %}">
            <a href="{{ about_url }}"><i class="icon-info-sign"></i> About </a>
        </li>
        <li>
            <a href="#">Portfolio </a>
        </li>
        <li class="{% if request.path == blog_url %} active {% endif %}">
            <a href="{{ blog_url }}">Blog </a>
        </li>
        <li class="{% if request.path == contact_url %} active {% endif %}">
            <a href="{{ contact_url }}">Contact </a>
        </li>
        {% if user.is_authenticated %}
        <li class="dropdown{% if request.path == profile_url %} active {% endif %}">
            <a href="{% url 'accounts:profile' %}"><i class="icon-user"></i> {{ user.username | capfirst }} <i class="icon-angle-down"></i></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'accounts:logout' %}"><i class="icon-signout"></i> Logout</a></li>
            </ul>
        </li>
        {% else %}
        <li class="dropdown{% if request.path == contact_url %} active {% endif %}">
            <a href="{{ login_url }}"><i class="icon-signin"></i> Login <i class="icon-angle-down"></i></a>
            <ul class="dropdown-menu">
                <li><a href="portfolio-3cols.html"><i class="icon-unlock"></i> Register</a></li>
            </ul>
        </li>
        {% endif %}
    </ul>
</nav>