{% url 'home' as home_url %}
{% url 'about' as about_url %}
{% url 'contact' as contact_url %}
<nav>
    <ul class="nav topnav">
        <li class="{% if request.path == home_url %} active {% endif %}">
            <a href="{{ home_url }}"><i class="icon-home"></i> Home </a>
        </li>
        <li class="{% if request.path == about_url %} active {% endif %}">
            <a href="{{ about_url }}"><i class="icon-info-sign"></i> About </a>
        </li>
        <li>
            <a href="#">Portfolio </a>
        </li>
        <li class="dropdown">
            <a href="#">Blog </a>
        </li>
        <li class="{% if request.path == contact_url %} active {% endif %}">
            <a href="{{ contact_url }}">Contact </a>
        </li>
        <li class="{% if request.path == contact_url %} active {% endif %}">
            <a href="{{ contact_url }}"><i class="icon-user"></i> User </a>
        </li>
    </ul>
</nav>